body {
    font-family: 'Kanit', sans-serif;
    font-size: 16px; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Kanit', sans-serif;
}

header {
    background-color: #fff;
    padding: 20px;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 8%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 1000;
}

h1 { 
    margin-right: auto;
    font-weight: 450;
    font-size: 3em;
}

main {
    padding-top: 80px; 
}

nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

nav ul li a {
    display: block; 
    padding: 15px; 
    text-decoration: none; 
    color: #333; 
}

nav ul li a:hover {
    background-color: #ddd; 
} 

section {
    padding: 30px; 
    margin-bottom: 20px;
} 
section#about {
    padding: 0;
    background-color: #fff;
}

.container {
    display: flex;
    margin-right: 0;
}

.image-container {
    flex: 1.5;
    position: relative;
}

.img {
    max-width: 100%;
    display: block;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 20px; 
}

.content-container h2 {
    font-size: 3em;
    margin-bottom: 1%;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#skills .inner-skills {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#skills h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db;
}

.skill-card {
    background-color: #181c20;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 20px;
    margin: 0;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
}

.skill-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #3498db, #9b59b6);
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
}

.skill-card:hover {
    transform: scale(1.05);
    border: 2px solid #3498db;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.skill-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-card h3 {
    color: white;
}

.skill-card li {
    margin-bottom: 10px;
    font-weight: bold;
    color: #3498db;
}

#education {
    padding: 40px;
}

#education h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db;
}

.education-entry {
    border: 2px solid #3498db;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #181c20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#education p {
    color: #3498db;
}

.education-entry:hover {
    transform: translateY(-5px);
}

.education-entry h3 {
    color: #fff;
    margin-bottom: 10px;
}

.education-entry p {
    color: #555;
}

#experience {
    padding: 40px;
}

.experience {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #181c20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#experience h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db;
}

.experience:hover {
    transform: translateY(-5px);
}

.experience h3 {
    color: #fff;
    margin-bottom: 10px;
}

.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #3498db;
}

.experience li {
    margin-bottom: 10px;
}

#projects {
    padding: 40px;
}

.project {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #181c20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    color: #fff;
    margin-bottom: 10px;
}

.project ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #3498db;
}

.project li {
    margin-bottom: 10px;
}

.project a {
    color: #3498db;
    text-decoration: none;
    color: white;
}

.project a:hover {
    text-decoration: underline;
    color: rgb(28, 224, 77);
}


#contact {
    border: none;
}

#contact h2,
#contact p {
    text-align: left;
}

footer {
    color: white;
    text-align: center;
}

footer #contact {
    margin-bottom: 0px;
}

footer {
    background-color: #181c20;
}

footer .icons {
    max-width: 1%;
    margin-right: 1%;
}

#contact a {
    color: #3498db;
    text-decoration: none;
    color: white;
}

#contact a:hover {
    text-decoration: underline;
    color: rgb(28, 224, 77);
}

footer .copyright {
    background-color: #3498db;
    margin: 0px;
}